python-dotenv
transformers>=4.45.0,<=4.52.4
datasets>=2.16.0,<4.0.0
accelerate>=0.34.0,<=1.7.0
peft>=0.14.0,<=0.15.2
trl>=0.8.6,<=0.9.6
tokenizers>=0.19.0,<=0.21.1
omegaconf
scipy
tiktoken
einops
protobuf
sentencepiece
safetensors
fire
packaging
pyyaml
numpy
pandas
scikit-learn
tqdm
matplotlib>=3.7.0
rouge-chinese
jieba
nltk
